* {
    font-family: 'Calligraffitti', cursive;
    src : url('./Assets/Source_Sans_Pro/SourceSansPro-Black.ttf');
    margin: 0;
    padding: 0;
}
body{
    background: url("/Assets/Images/Background/register_background.jpg")no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    position: absolute;
    right: 0;
    padding: 20px;
    width: 450px; 
    height: 100vh;
    background-color:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.288) ;
}
.brand{
    align-self: center;
    justify-self: center;
}
.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form_header{
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
    display: flex;
    color:yellowgreen;
    justify-content: center;
    font-size: 30px;
    align-items: center;
}

.row{
    width: 100%;
    margin:20px 0 0 0;
    display: flex;
    justify-content: center;
}
.row_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.row input{
    height: 40px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    padding-left: 10px;
}

#email, #reg_no{
    width: 96%;
}
select{
    width:100%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    padding-left: 10px;
}

.row_no_margin{
    margin:0px;
}

#btn{
    color:black;
    width: 150px;
    height: 40px;
    background-color:rgb(142, 211, 39);
    border-radius:10px;
    color: whitesmoke;
    border: none;
    font-weight:500;
    letter-spacing: 1px;
}
